.van-nav-bar__left {
  padding: 0 15px;
  left: 0;
  height: 100%;
}
.van-nav-bar__right {
  padding: 0 15px;
  right: 0;
  height: 100%;
}
.van-nav-bar__text:active {
  background: none;
}
